
html { font-size: 14px; }

body {
  overflow-x: hidden;
}

main > .container {
  font-size: 16px;
  padding: 0 1.5rem 1rem;
}

@media (min-width: 768px) {
  main > .container {
    padding: 0 2rem 1rem;
  }
}

h1, h2, h3, h4, h5 {
  margin: 1rem 0 1.25rem;
}
h1, h2 {
  padding-bottom: .25rem;
  border-bottom: 1px solid #dee2e6;
}

ul {
  margin: 1rem 0;
  padding-left: 2.25rem;
  li {
    margin-bottom: .5rem;
  }
  ul {
    margin-top: .5rem;
    padding-left: 1.25rem;
  }
  p {
    margin: .5rem 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

li {
  padding-left: .25rem;
}

.navbar .navbar-toggler {
  border-color: transparent;
}

.footer {

  background-color: #f5f5f5;

  & > .container {
	  padding-right: 15px;
  	padding-left: 15px;
	}
}

@import "sidebar.scss";
@import "code.scss";
@import "markdown.scss";
